* {
    padding: 0;
    margin: 0;
}
h1 {
    text-align: center;
    font-family: 'Papyrus';
    letter-spacing: 15px;
    font-size: 60px;
    color: white;
}
h5 {
    position: relative;
    bottom: 100px;
    left: 20px;
    font-size: 15px;
}
body {
    background-image: url(Gradient.png);
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
}   
table, td {
    border: white 4px solid;
    border-collapse: collapse;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
thead {
    font-size: 30px;
}
tbody {
    font-size: 25px;
}       