* {
    padding: 0;
    margin: 0;
}
h1 {
    text-align: center;
    font-family: 'Papyrus';
    letter-spacing: 15px;
    font-size: 60px;
    color: white;
}
h5 {
    position: relative;
    bottom: 100px;
    left: 20px;
    font-size: 15px;
}
body {
    background-image: url(Gradient.png);
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
}
p {
    text-align: center;
    padding: 15px;
    margin: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline-block;
    width: 450px;
    border: 3px solid white;
}
.left {
    position: relative;
    left: 50px;
}   
.right {
    position: relative;
    left: 200px;    
}   